input[type=text] {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    text-align: center;
    color: #333;
}

input[type=text]:focus {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

#question {
    text-align: center;
}

.correct {
    background-color: #28a745;
}
  
.incorrect {
    background-color: #dc3545;
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

/* Mobile browsers */
body {
    -webkit-text-size-adjust:100%;
}
